.cell {
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  .cell:nth-child(n+2){
    border-left: 0px;
  }
  
  #container {

    width: 1275px;
border-left: 1px solid black;
border-bottom: 1px solid black;
  }
  
  #container>div {
    height: 25px;
  }