.cell {
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(208, 211, 212);
  }

  .cell:nth-child(n+2){
    border-left: 0px;
  }
  
  #container {

    width: 1275px;
border-left: 1px solid black;
border-bottom: 1px solid black;
  }
  
  #container>div {
    height: 25px;
  }

  #mazes{
    display:flex;
    flex-direction: column;
    width: 200px;
    
  }
  #searches{
    display: flex;
    flex-direction: column;
  }

  #nav{
    display: flex;
    flex-direction: row;
  }

  .menuLabel{
    align-items: center;
    text-align: center;
  }
 